{{- $config := newScratch -}}
{{- $config.Set "transformed" dict -}}
{{- range $key, $v := . -}}
  {{- $parts := split $key "_" -}}
  {{/* Handle filters differently, as they need to be prefixed with filter_ */}}
  {{- $isFilter := false -}}
  {{- if eq (index $parts 0) "filter" -}}
    {{- $parts = after 1 $parts -}}
    {{- $isFilter = true -}}
  {{- end -}}

  {{- $camelCasedEnd := apply (after 1 $parts) "strings.FirstUpper" "." -}}
  {{- $camelCasedKey := delimit ((first 1 $parts) | append $camelCasedEnd) "" -}}

  {{- if $isFilter -}}
    {{- $camelCasedKey = printf "filter_%s" $camelCasedKey -}}
  {{- end -}}
  {{/*
  NOTE: Environment variables are untyped strings,
  therefore we need to parse bool from them to allow configuring apps fully.
  */}}
  {{- $typedValue := $v -}}
  {{- if eq $v "true" -}}
    {{- $typedValue = true -}}
  {{- end -}}
  {{- if eq $v "false" -}}
    {{- $typedValue = false -}}
  {{- end -}}
  {{- $config.SetInMap "transformed" $camelCasedKey $typedValue -}}
{{- end -}}

{{- return $config.Get "transformed" -}}
