{{- $url := printf "%s/api/v1/site" (getenv "CMS_API_URL") }}
{{- $opts := dict
"headers" (dict "Authorization" (printf "Bearer %s" (getenv "CMS_API_TOKEN")))
}}
{{- $data := resources.GetRemote $url $opts | transform.Unmarshal }}

{{- $footerText := $data.footer_text }}
{{- $menu := where $data.menus "name" "meta_menu" | first 1 }}
{{- $ctx := dict "text" $footerText -}}

{{- with partial "footer_wrapper" $ctx -}}
  {{ range $menu }}
    {{ range $index, $entry := .entries }}
      {{ if ne $index 0 }}
        <div class='vr'></div>
      {{ end }}
      <div class="nav-item">
        <a href="{{ urls.AbsURL .target_page_path }}" class="nav-link">{{ .target_text }}</a>
      </div>
    {{ end }}
  {{ end }}
{{- end -}}
