{{- $url := printf "%s/api/v1/site" (getenv "CMS_API_URL") }}
{{- $opts := dict
"headers" (dict "Authorization" (printf "Bearer %s" (getenv "CMS_API_TOKEN")))
}}
{{- $data := resources.GetRemote $url $opts | transform.Unmarshal }}

{{- $menu := where $data.menus "name" "main_menu" | first 1 }}
{{- $ctx := dict "menu" $menu -}}

{{- with partial "main_menu_wrapper" $ctx -}}
  {{ range .menu }}
    {{ range .entries }}
      {{ if eq (.entries | len) 0 }}
        <li class="nav-item">
          <a href="{{ partial "cms_url" . }}" class="nav-link">{{ .target_text }}</a>
        </li>
      {{ else }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .target_text }}
          </a>
          <div class="dropdown-menu">
            {{ if .target_page_path }}
              <div class="dropdown-menu-parent-item">
                <a href="{{ partial "cms_url" . }}" class="dropdown-item">{{ .target_text }}</a>
              </div>
              <hr class="dropdown-divider" role="separator">
            {{ end }}

            <ul class="list-unstyled navbar-custom-level-2 navbar-custom-nav">
              {{ range .entries }}
                <li class="navbar-custom-item navbar-custom-level-2">
                  {{ if .target_page_path }}
                    <a class="dropdown-item" href="{{ partial "cms_url" . }}">{{ .target_text }}</a>
                  {{ else }}
                    <div class="h6 dropdown-header">{{ .target_text }}</div>
                  {{ end }}
                  {{ if ne (.entries | len) 0 }}
                    <ul class="list-unstyled navbar-custom-level-3 navbar-custom-nav">
                      {{ range .entries }}
                        <li class="navbar-custom-item navbar-custom-level-3">
                          <a class="dropdown-item" href="{{ partial "cms_url" . }}">{{ .target_text }}</a>
                        </li>
                      {{ end }}
                    </ul>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </div>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
{{- end -}}
