{{- $url := printf "%s/api/v1/site" (getenv "CMS_API_URL") }}
{{- $opts := dict
"headers" (dict "Authorization" (printf "Bearer %s" (getenv "CMS_API_TOKEN")))
}}
{{- $data := resources.GetRemote $url $opts | transform.Unmarshal }}

{{- $menu := where $data.menus "name" "main_menu" | first 1 }}
{{- $ctx := dict "menu" $menu -}}

{{- with partial "main_menu_wrapper" $ctx -}}
  {{ range .menu }}
    {{ range .entries }}
      {{ if eq (.entries | len) 0 }}
        <li class="nav-item">
          <a href="{{ urls.AbsURL .target_page_path }}" class="nav-link">{{ .target_text }}</a>
        </li>
      {{ else }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .target_text }}
          </a>
          <ul class="dropdown-menu">
            {{ range .entries }}
              <li><a class="dropdown-item" href="{{ urls.AbsURL .target_page_path }}">{{ .target_text }}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
{{- end -}}
