{{- $url := printf "%s/api/v1/site" (getenv "CMS_API_URL") }}
{{- $opts := dict
"headers" (dict "Authorization" (printf "Bearer %s" (getenv "CMS_API_TOKEN")))
}}
{{- $data := resources.GetRemote $url $opts | transform.Unmarshal }}

{{- $menu := where $data.menus "name" "main_menu" | first 1 }}
{{- $ctx := dict "menu" $menu -}}

{{- with partial "main_menu_wrapper" $ctx -}}
  {{ range .menu }}
    {{ range .entries }}
      {{ if eq (.entries | len) 0 }}
        <li class="nav-item">
          <a href="{{ partial "cms_url" . }}" class="nav-link">{{ .target_text }}</a>
        </li>
      {{ else }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .target_text }}
          </a>
          <ul class="dropdown-menu">
            {{ if .target_page_path }}
              <li class="dropdown-menu-parent-item">
                <a href="{{ partial "cms_url" . }}" class="dropdown-item">{{ .target_text }}</a>
              </li>
              <li><hr class="dropdown-divider"></li>
            {{ end }}

            {{ range .entries }}
              <li>
                {{ if .target_page_path }}
                  <a class="dropdown-item" href="{{ partial "cms_url" . }}">{{ .target_text }}</a>
                {{ else }}
                  <div class="h6 dropdown-header">{{ .target_text }}</div>
                {{ end }}
              </li>
              {{ if ne (.entries | len) 0 }}
                {{ range .entries }}
                  <li>
                      <a class="dropdown-item" href="{{ partial "cms_url" . }}">{{ .target_text }}</a>
                  </li>
                {{ end }}
              {{ end }}
            {{ end }}
          </ul>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
{{- end -}}
