{{ define "main" }}
  <section class='home-header'>
    <div class="start-page-video-wrapper position-relative d-md-none">
      <div class="position-absolute z-0 rounded-bottom-5 overflow-hidden d-flex"
           style="inset:0">
        <mux-player
          playback-id="u4W9JhcqX3rSiEfDKpv3lHu4301GZWdqM3eUC9xJijzA"
          metadata-video-title="Auslandsjahr.org - Dein Auslandsjahr beginnt hier!"
          metadata-video-id="auslandsjahr_org_start_page"
          autoplay="muted"
          loop
          thumbnail-time="0"
          disable-tracking
          disable-cookies
          class="start-page-mobile-video-player z-0"
        ></mux-player>
      </div>
      <h1 class="z-1 position-relative start-page-headline mb-4">Dein Auslandsjahr beginnt hier!</h1>
      <a href='/auslandsjahr-programme' class='btn btn-primary z-1 align-self-baseline'>
        Jetzt Organisation finden
      </a>
    </div>
    <div class="container d-none d-md-block">
      <div class="row gy-0 gx-5 align-items-center pb-5 pt-6">
        <div class="col-md-6 col-xl-7">
          <h1 class="display-3">
            Dein Auslandsjahr <br />
            beginnt hier!
          </h1>
          <p class='lead'>
            Möchtest du dir den Traum von einem Auslandsjahr erfüllen? Dann bist du bei Auslandsjahr.org genau richtig! Hier erwartet dich eine kostenfreie und unabhängige Beratung für dein Austausch-Abenteuer. Unser Programmvergleich hilft dir, die perfekte Organisationen für deinen Auslandsaufenthalt zu finden. Starte jetzt deine Reise und erlebe das Jahr deines Lebens!
          </p>
          <a hreef='/auslandsjahr-programme' class='btn btn-primary mb-5'>
            Jetzt Organisation finden
          </a>
        </div>
        <div class="col-md6 col-xl-4 offset-1">
          <div class="rounded-5 d-flex overflow-hidden">
            <mux-player
              playback-id="u4W9JhcqX3rSiEfDKpv3lHu4301GZWdqM3eUC9xJijzA"
              metadata-video-title="Auslandsjahr.org - Dein Auslandsjahr beginnt hier!"
              metadata-video-id="auslandsjahr_org_start_page"
              autoplay="muted"
              loop
              thumbnail-time="0"
              disable-tracking
              disable-cookies
              class="start-page-desktop-video-player"
            ></mux-player>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="content-width">
        <h2 class="mb-4">Von Schülern bewertete Organisationen</h2>
        <p>
          Wähle deine <a href="/auslandsjahr-organisationen">Wunschorganisation</a> aus und entdecke deine Möglichkeiten.
        </p>
      </div>
    </div>
    <div
      class="d-flex flex-row flex-nowrap"
      data-controller="logo-bar"
      data-logo-bar-crm-api-url-value="{{ site.Params.crm_api_url }}"
      data-logo-bar-crm-api-token-value="{{ site.Params.crm_api_token }}"
    >
      <template data-logo-bar-target="itemTemplate">
        <a class="mx-3 mx-lg-5 logo-bar-organisation d-flex flex-row align-items-center">
          <img width="50" height="50" class="logo-bar-organisation-image me-2 me-lg-4">
          <span class="logo-bar-organisation-name h3 mb-0 text-nowrap"></span>
        </a>
      </template>
    </div>
  </section>

  {{ range .Params.sections }}
    {{ partial "section" . }}
  {{ end }}
{{ end }}
