{{- $fromCms := partial "cms_filter_params" (
  dict "filterKeys" (
    slice "countryCode" "limit" "sortBy" "catalogEnabledOnly"
  ) "config" .
) -}}
{{- $toHtml := merge
(partial "components_defaults" site.Params.ak_order_components.defaults)
(partial "components_defaults" (index (index site.Params "ak_organisations") "defaults"))

$fromCms -}}
{{- printf "<div id='ak-organisations-app' data-ak-config='%s'></div>" (
  $toHtml | jsonify
) | safeHTML -}}
<script type="module">
  import { rootFactories } from '{{ site.Params.ak_order_components.js_url }}'

  const root = rootFactories.organisations(document.querySelector('#ak-organisations-app'))
  root.render()
</script>
