{{- $fromCms := partial "cms_filter_params" (dict "filterKeys" (slice) "config" .) -}}
{{- $toHtml := merge (partial "components_defaults" site.Params.ak_order_components.defaults)
(partial "components_defaults" (index (index site.Params "ak_catalog_order") "defaults"))
$fromCms -}}
{{- printf "<div id='ak-catalog-order-app' data-ak-config='%s'></div>" (
  $toHtml | jsonify
) | safeHTML -}}
<script type="module">
  import { rootFactories } from '{{ site.Params.ak_order_components.js_url | safeJS }}'

  const root = rootFactories.catalogOrder(document.querySelector('#ak-catalog-order-app'))
  root.render()
</script>
